:root {
  --primary-colour: #2ea372;
  --background-colour: #e7e7e7;
  --grey: #585b66;
  --black: #1e1e1e;
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
}
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  /* background-color: var(--background-colour); */
}

code {
  font-family: source-code-pro, 'Rubik', monospace;
}
